:root {
  --cyan: rgb(104, 240, 222);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  background-color: rgba(127, 253, 255, 0.348);
}

h2 {
  margin-bottom: 1rem;
}

button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

button.primary {
  background-color: var(--cyan);
  color: rgb(0, 0, 0);
}

.app {
  margin: 0 auto;
  max-width: 1200px;
}

header h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
  text-decoration: none;
}

.headerLink{
  text-decoration: none;
  color: inherit;
}

.new-button{
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
  font-weight: 900;
  display: flex;
  justify-content: center;
  border: 2px solid;
}

.logo {
  text-decoration: none;
}

main {
  padding: 0 1rem;
}

.new-fish-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  text-align: center;
}

.new-fish-form form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
}

.new-fish-form input {
  margin-right: 2rem;
  flex: 1;
  margin: 5px;
}

.new-fish-form button {
  margin: 5px;
}

.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

#search:focus{
    outline: none;
    border-bottom: 2px solid var(--cyan);
}

label {
  font-weight: bold;
  display: block;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
  width: 100%;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--cyan);
}

.cards {
  list-style: none;
}

.card:hover{
  border: 2px solid var(--cyan);
  width: 280px;
  transition: 2s;
}

.card:not(hover){
  transition: 2s;
}

.card {
  margin: 8px;
  background-color: rgba(0, 255, 255, 0.182);
  border: 2px solid;
}

.card img {
  width: 200px;
  height: 100px;
}

.card button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}
